
/* Overwrites */
.md-button {
    text-transform:none;
}
/* Overwrites */
md-input-container {
    width: 99%;
}

.aspect-ratio-9-over-20::after {
    padding-top: 45%;
    display:block;
    content: ''
}
.aspect-ratio-1-over-1::after {
    padding-top: 100%;
    display:block;
    content: ''
}

.mdl-dialog-600 {
    width: 600px;
}

.md-image-loader {
      width:100%; display:inline-block; position:relative
}
    .md-image-loader .main {
        position:absolute; top: 0; bottom: 0; right: 0; left: 0; background-color:#e7e7e7; background-repeat:no-repeat
    }
     .md-image-loader .main .loading {
          margin:auto; position:absolute; top:0; left:0; bottom:0; right:0; width:50px; height:50px; color:white
    }


.login-box {
    width: 350px;
}
.login-box-content{
    padding-top:20px;
    padding-left:40px;
    padding-right:40px;
}

.text-center {
    text-align: center;
}

.invite-box{
    
    width: 550px;
}

#emoji-palette {
    max-width: 260px !important;
}
.ql-tooltip {
  z-index: 30;
}

md-dialog.fullscreen-dialog {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

div[formly-field] {
    width: 100%;
}
md-image-profile-upload {
    display: inline-block;
    width: 100%;
       
}
    md-image-profile-upload::after {
            content: "";
            display: table;
            clear: both;
    }

.thumbs-up-container{
    display:inline-block;
    position:relative;
    width:50px;
    height:50px;
}

/* overwrite*/
.icon-wrapper, .icon-wrapper-2 {
    position:absolute !important;
    top: -55px !important;
    left:10px !important;
}
.thumbs-up-container .thumbs-progress {
    position: absolute;
    left:10px;
    top:15px;
}
.card-content {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    position:relative;
    /*height: 150px;*/
    overflow: hidden;
}
    .card-content .text {
        height:90%;
        overflow:hidden;
        font-size:14px;
    }
    .card-content p br {
        display: none;
    }

.route-element {
    cursor: pointer;
}
.route-element:focus{
    outline: none;
    border: 0;
  
}
.block {
    display: block;
}
.height-100{
    height:100%;
}

.layout-column > .flex {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.toaster-content{
    display:inline-block;
    position:absolute;
    top: 18px;
    left:65px;
}

.bg-login{
    background-image: url('imgs/bg-login.jpg');
}

.login-logo {
    width:100px;
    height:100px;
}
.logo-header {
    margin-top: 10px;
}

.theme-color {
    color:rgb(33,150,243);
}

app-icon {
    display: inline-block;
}

app-icon svg {
    display: inline-block;
}

tile-view-responsive {
    background-color: rgb(255, 255,255);
}

.bg-sp {
    background-color: rgb(255, 255,255);
}
md-image-loader {
    width: 100%;
}

.button-loading-icon-container {
    display: inline-block;
    padding: 2px;
    width:20px;
}

    .button-loading-icon-container md-progress-circular {
        position:absolute;
        top:9px;
    }

.action-completed-indicator {

}
    .action-completed-indicator .anim-block {
        border: 1px solid;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border-color: rgba(0, 150, 0, 1);
    }
        .action-completed-indicator .anim-block canvas {

            width: 150px;
            position: relative;
            top: 25px;
            left: -7px;
        }

.action-completed-indicator .content {
    height: 100px;
}

.entry-error {
    color: rgb(221,44,0);
    font-size: 12px;
    height: 15px;
}

form-tab-wizard {
}
.form-tab-wizard md-tabs-wrapper {
    display: none;
}
.form-tab-wizard md-tabs-content-wrapper md-tab-content div md-content {
    background-color: white;
}
    .form-tab-wizard md-tabs-content-wrapper md-tab-content div md-content .prior {
        position:absolute;
        bottom: 3px;
    }

md-image-preview-upload + div[ng-messages] {
    text-align: center;
}
.trim-on-second {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ellipsis {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    line-height:18px;
    /*line-height: 25px;
    margin: 20px;*/
    margin-right:15px;
   
}

    .ellipsis:before {
        content: "";
        float: left;
        width: 5px;
        height: 100%;
    }

    .ellipsis > *:first-child {
        float: right;
        width: 100%;
        margin-left: -5px;
    }

    .ellipsis:after {
        content: "\02026";
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        float: right;
        position: relative;
        top: -18px;
        left: 99%;
        width: 42px;
        margin-left: -42px;
        padding-right: 5px;
        text-align: right;
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
        background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    }

.brand-background {
    background-color: rgb(33,150,243);
    color: rgb(255,255,255);
}

.user-header {
    box-shadow: 0px 0px;
}
    .user-header md-card-header {
        position:relative;
    }
    .user-header .icon-container {
        position: absolute;
        bottom: 6px;
        left: 52px;
        border-radius: 50%;
        width: 20px;
    }
        .user-header .icon-container .icon {
            color: white;
            font-size:12px;
            padding-left: 5px;
        }

.margin-top-25 {
 margin-top:25px;
}