

md-input-container {
    width: 99%;
}

.aspect-ratio-9-over-20::after {
    padding-top: 45%;
    display:block;
    content: ''
}
.aspect-ratio-1-over-1::after {
    padding-top: 100%;
    display:block;
    content: ''
}

.mdl-dialog-600 {
    width: 600px;
}

.mdl-image-loader {
      width:100%; display:inline-block; position:relative
}
    .mdl-image-loader .main {
        position:absolute; top: 0; bottom: 0; right: 0; left: 0; background-color:#e7e7e7; background-repeat:no-repeat
    }
     .mdl-image-loader .main .loading {
          margin:auto; position:absolute; top:0; left:0; bottom:0; right:0; width:50px; height:50px; color:white
    }


.login-box {
    width: 350px;
}
.login-box-content{
    padding:20px;
}

.text-center {
    text-align: center;
}

.invite-box{
    
    width: 550px;
}