<div layout="row">
    
    <div flex>
        <ng-form name="form">
            <!-- restrict ngf-max-size globally -->
            <md-button name="file" ngf-pattern="'.jpg,.jpeg,.png'" ngf-accept="'.jpg,.jpeg,.png'" ngf-select="vm.onFileSelect($file)" ng-class="vm.mdClass" ngf-max-size="2MB" ng-model="vm.imgfile" ngf-model
                       ngf-min-height="{{vm.SizeLimit.h}}" ngf-min-width="{{vm.SizeLimit.w}}">
                <ng-transclude></ng-transclude>

            </md-button>
            <div ng-messages="form.file.$error">
                <div ng-message="minWidth">File <b>Width</b> must be greater than <b>{{vm.SizeLimit.w}} px</b></div>
                <div ng-message="minHeight">File <b>Heigth</b> must be greater than <b>{{vm.SizeLimit.h}} px</b></div>
                <div ng-message="maxSize">File <b>Size</b> must be less than <b>2 MB</b></div>
            </div>
           
        </ng-form>

    </div>
</div>
