
    <md-tabs md-selected="vm.selectedIndex" md-border-bottom md-autoselect md-swipe-content flex md-dynamic-height class="form-tab-wizard">

        <md-tab ng-repeat="tab in vm.groups.Forms"
                ng-disabled="tab.disabled"
                label="{{$index}}">
            
                <md-content style="overflow-x:hidden">

                    
                        <div  flex-gt-sm="90" flex-offset-gt-sm="5" layout="column" flex="100">

                        <json-form form-definition="tab"
                                   button-text="{{ ($index == (vm.groups.Size - 1)) ? 'Save' : 'Next' }}"
                                   button-text-busy="Saving..."
                                   on-form-submit="vm.Submit($index)"
                                   button-busy="vm.busy">

                        </json-form>


                        <div class="prior">
                            <md-button class="md-raised md-warn" ng-disabled="vm.busy" ng-if="($index > 0)" ng-click="vm.Back()"> << </md-button>
                        </div>

                    

                       </div>
                </md-content>

        </md-tab>

            

</md-tabs>
