<form name="vm.FD.name" novalidate ng-submit="vm.onSubmit()">
    <formly-form model="vm.FD.model" fields="vm.FD.fields" >

        <md-loading-button type="submit" md-class="md-raised md-primary" md-busy="vm.working" md-on-click="vm.onClick()" md-disabled="vm.FD.name.$invalid">
            <md-message>
                my button
            </md-message>
            <md-loading-message>
                Loading..
            </md-loading-message>
        </md-loading-button>

    </formly-form>
   
</form>