<div flex>
    <md-card flex>
        
        <md-image-loader ng-if="vm.record.hasImg" md-img-src="vm.record.milestone.image" md-aspect-ratio="{w: 300, h: 135}"></md-image-loader>
        <md-image-loader ng-if="vm.record.milestone.type == 4" md-img-src="'../../../../../fonts/thumbs/podcast.jpg'" md-aspect-ratio="{w: 300, h: 135}"></md-image-loader>
        <md-image-loader ng-if="(vm.record.milestone.type == 5) && !vm.record.hasImg" md-img-src="'../../../../../fonts/thumbs/training.jpg'" md-aspect-ratio="{w: 300, h: 135}"></md-image-loader>
        
        <md-card-header>
            <md-card-avatar>
                <img ng-src="{{vm.record.user.image}}" class="md-user-avatar" />
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">{{vm.record.user.name}} {{vm.record.user.lastName}}</span>

                <span class="md-subhead" ng-switch="vm.record.milestone.type">
                    <span ng-switch-when="1"> Milestone</span>
                    <span ng-switch-when="2"> Post</span>
                    <span ng-switch-when="3"> Book</span>
                    <span ng-switch-when="4"> Pocast</span>
                    <span ng-switch-when="5"> Lecture</span>

                </span>
            </md-card-header-text>
        </md-card-header>

        <md-card-title>
                <span class="md-headline" ng-bind="vm.record.milestone.theme"></span>
        </md-card-title>

        <md-card-content ng-bind-html="vm.record.milestone.postContent">

        </md-card-content>
        <div flex style="position:relative; margin-top:10px">
            <like-thumbnails  post-id="vm.record.milestone.id"></like-thumbnails>
        </div>

        <md-card-actions layout="row" layout-align="end center">
            
            <like-count post-id="vm.record.milestone.id"></like-count>
            <md-thumbs-up ng-model="vm.record.like" md-on-like="vm.Like(vm.record.milestone.id)" md-on-unlike="vm.Unlike(vm.record.milestone.id)"></md-thumbs-up>
        </md-card-actions>
        
</md-card>
</div>
