<div flex="100" layout-padding>

    <div flex layout="column">
        <div flex ng-if="vm.ShowPreview">
            <md-image-loader md-img-src="vm.ngModel" md-aspect-ratio="vm.mdAspectRatio"></md-image-loader>
        </div>
        <div flex>
            <div layout="row" layout-align="center center">
                <md-image-upload-cropper md-aspect-ratio="vm.mdAspectRatio" md-class="md-raised md-primary" ng-model="vm.ngModel"
                                         md-on-file-select="vm.onFileChange($file)" md-on-validation-change="vm.OnValidationChange($validators)">
                    <md-icon md-font-icon="icon-camera"></md-icon> {{vm.mdBtnText}}
                </md-image-upload-cropper>
            </div>
        </div>
    </div>

</div>