<md-button name="file" ngf-pattern="'.jpg,.jpeg,.png'" ngf-accept="'.jpg,.jpeg,.png'" ngf-select="vm.onFileSelect($file)" ng-class="vm.mdClass" ngf-max-size="2MB" ng-model="vm.imgfile" ngf-model
           ngf-min-height="{{vm.mdAspectRatio.h}}" ngf-min-width="{{vm.mdAspectRatio.w}}" aria-label="upload" ng-click="vm.onClick()">
    
    <ng-transclude ng-show="!vm.Loading"></ng-transclude>

    <span ng-show="vm.Loading">
        <span class="icon-spinner icon-spin icon-large"></span>
    </span>


</md-button>
