<div layout="row" flex>


    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" ng-hide="false" ng-cloak
                md-component-id="left"
                ng-click="ul.toggleList()" aria-label="Show User List"
                md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar class="md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <h3>Actions</h3>
            </div>
        </md-toolbar>
        <md-list>
            <md-list-item ng-show="true">
                <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : true }">
                    hello
                </md-button>
            </md-list-item>



        </md-list>
    </md-sidenav>


    <div flex layout="column" tabindex="-1" role="main" class="md-whiteframe-z2">
        <md-toolbar layout="row" class="md-whiteframe-z1" ng-hide="false" ng-cloak>
            <div class="md-toolbar-tools">
                <md-button id="main" class="menu" hide-gt-sm ng-click="vm.toogleLeftNavBar()" aria-label="Show User List">
                    <md-icon md-font-icon="icon-align-justify"></md-icon>
                </md-button>

                <h1 md-truncate>Third Party Liability Entry</h1>
                <span flex></span>

                <md-button class="md-raised md-fab md-primary md-mini" aria-label="Admin Taks" ng-click="ul.check()">
                    <md-icon md-font-icon="icon-home"></md-icon>
                </md-button>
            </div>

        </md-toolbar>
        <md-content flex id="content">
            <!--<example-component>

            </example-component>-->

            <div ui-view class="anim-in-out anim-fade fx-fade-up fx-speed-500" data-anim-speed="500" autoscroll="true"></div>


        </md-content>
    </div>

</div>
