<div layout="row" flex>


    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" ng-hide="false" ng-cloak
                md-component-id="left"
                ng-click="ul.toggleList()" aria-label="Show User List"
                md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar class="md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <h3>Menu</h3>
            </div>
        </md-toolbar>

        <md-list flex="initial" class="md-dense">

            <md-list-item class="md-2-line" ng-click="vm.goToFeed()">

                <md-button class="md-icon-button md-primary md-fab md-mini" aria-label="Landmark Feed">
                    <md-icon md-font-icon="icon-bookmark"></md-icon>
                </md-button>


                <div class="md-list-item-text">
                    <h3>Landmark Feed</h3>
                </div>
            </md-list-item>

            <md-list-item class="md-2-line" ng-click="vm.goToMilestoneAdd()">

                <md-button class="md-icon-button md-primary md-fab md-mini" aria-label="Milestone Add">
                    <md-icon md-font-icon="icon-flag"></md-icon>
                </md-button>

                <div class="md-list-item-text">
                    <h3>Add Milestone</h3>
                </div>
            </md-list-item>

            <md-list-item class="md-2-line" ng-click="vm.goToAddPost()">

                <md-button class="md-icon-button md-primary md-fab md-mini" aria-label="Landmark Post Add">
                    <md-icon md-font-icon="icon-edit"></md-icon>
                </md-button>


                <div class="md-list-item-text">
                    <h3>Add Post</h3>
                </div>
            </md-list-item>
        </md-list>

        <md-list flex class="md-dense">

            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Admin</md-subheader>

            <md-list-item class="md-2-line" ng-click="vm.admin.sendInvite()">

                <md-button class="md-icon-button   md-mini" aria-label="Landmark Post Add">
                    <md-icon md-font-icon="icon-envelope-alt"></md-icon>
                </md-button>

                <div class="md-list-item-text">
                    <h3>Send Invite</h3>
                </div>
            </md-list-item>

            <md-list-item class="md-2-line" ng-click="vm.admin.AddCategory()">
                <md-button class="md-icon-button   md-mini" aria-label="Add Category">
                    <md-icon md-font-icon="icon-tasks"></md-icon>
                </md-button>
                <div class="md-list-item-text">
                    <h3>Add Category</h3>
                </div>
            </md-list-item>


            <md-list-item class="md-2-line" ng-click="vm.admin.LogOut()">
                <md-button class="md-icon-button   md-mini" aria-label="Exit">
                    <md-icon md-font-icon="icon-signout"></md-icon>
                </md-button>
                <div class="md-list-item-text">
                    <h3>Exit</h3>
                </div>
            </md-list-item>

            

        </md-list>


        
    </md-sidenav>


    <div flex layout="column" tabindex="-1" role="main" class="md-whiteframe-z2">
        <md-toolbar layout="row" class="md-whiteframe-z1" ng-hide="false" ng-cloak>
            <div class="md-toolbar-tools">
                <md-button id="main" class="menu" hide-gt-sm ng-click="vm.toogleLeftNavBar()" aria-label="Show User List">
                    <md-icon md-font-icon="icon-align-justify"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="logo" ng-disabled="false">
                    <md-icon md-svg-src="/fonts/logo/logo-svg.svg"  aria-label="logo"></md-icon>
                </md-button>
                    <h1 md-truncate>
                        Landmark
                    </h1>
                    <span flex></span>

                    <md-menu md-position-mode="target-right target">
                        <md-button class="md-raised md-fab md-primary md-mini" aria-label="Admin Taks" ng-click="vm.OpenProfileEditMenu($mdMenu, $event)">
                            <md-icon md-font-icon="icon-user"></md-icon>
                        </md-button>
                        <md-menu-content width="4">

                            <md-menu-item>
                                <md-button ng-click="vm.goToEditImg()">
                                    <md-icon md-font-icon="icon-camera"></md-icon>
                                    Edit Image
                                </md-button>
                            </md-menu-item>

                            <md-menu-item>
                                <md-button ng-click="vm.goToEditBio()">
                                    <md-icon md-font-icon="icon-leaf"></md-icon>
                                    Edit Bio
                                </md-button>
                            </md-menu-item>


                            <md-menu-item>
                                <md-button>
                                    <md-icon md-font-icon="icon-unlock-alt"></md-icon>
                                    Edit Password
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-click="vm.admin.LogOut()">
                                <md-button>
                                    <md-icon md-font-icon="icon-signout"></md-icon>
                                    Exit
                                </md-button>
                            </md-menu-item>

                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button>
                                    <md-icon md-font-icon="icon-remove"></md-icon>
                                    Cancel
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
</div>

        </md-toolbar>
        <md-content flex id="content" class="bg-sp">
       
          
            <div ui-view    autoscroll="true"></div>


        </md-content>
    </div>

</div>
