
<!--<div style="display:inline-block; padding:5px; height:35px">
    <div class="fx-fade-right fx-dur-600 fx-ease-none" ng-show="vm.type == 0">
        <md-icon md-font-icon="icon-thumbs-up tmup-0" ng-click="vm.setStatus(1)"></md-icon>
    </div>
    <div class="fx-light-speed fx-speed-500  fx-easing-bounce"  ng-show="vm.type == 1">
        <md-icon md-font-icon="icon-thumbs-up tmup-1"   ng-click="vm.setStatus(0)"></md-icon>
    </div>
</div>-->
<div class="thumbs-up-container">
    <div class="icon-wrapper" ng-click="vm.changeState()">
        <span class="icon"><i class="icon-thumbs-up"></i></span>
        <div class="border"><span></span></div>
        <div class="satellite">

        </div>
    </div>
</div>