
<div layout-padding layout="column">


    <div flex>
        <div layout="row" ng-if="vm.ngModel.img" flex>
            <div flex flex-offset-gt-xs="25" flex-gt-xs="50">
                <md-image-loader md-img-src="vm.ngModel.img" md-aspect-ratio="vm.aspectRatio"></md-image-loader>
            </div>
        </div>
    </div>

    <div flex>
        <form novalidate name="form">
            <div layout="row" layout-align="center center">
                <md-image-upload-cropper md-aspect-ratio="vm.aspectRatio" md-class="md-raised md-primary" ng-model="vm.ngModel" name="mupload"
                                         md-on-file-select="vm.onFileChange($file)">
                    <md-icon md-font-icon="icon-camera"></md-icon>
                </md-image-upload-cropper>
            </div>

          
            </form>
    </div>
    <div flex>

        <div layout="row" layout-align="center center">

            <div ng-messages="form.mupload.$error" style="color:rgb(221,44,0); font-size:12px">
                <div ng-message="minWidth" class="fx-bounce-normal fx-dur-742 fx-ease-sine">Minimun width must be: {{vm.aspectRatio.w}}px</div>
                <div ng-message="minHeight">Minimun heigth must be: {{vm.aspectRatio.h}}px</div>
                <div ng-message="maxSize">File <b>Size</b> must be less than <b>2 MB</b></div>
            </div>

        </div>

    </div>

</div>