<div layout="row">
    <md-card flex="100" class="height-100">
        <md-card-header>
            <md-card-avatar>
                <img ng-src="{{item.element.user.image}}" class="md-user-avatar"  />
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title route-element" ng-click="item.Ctrl.GoToUser(item)">{{item.element.user.name}} {{item.element.user.lastName}}</span>
                <span class="md-subhead"  ng-switch="item.element.milestone.type">
                    <span ng-switch-when="1"> Milestone</span>
                    <span ng-switch-when="2"> Post</span>
                    <span ng-switch-when="3"> Book</span>
                    <span ng-switch-when="4"> Podcast</span>
                    <span ng-switch-when="5"> Training</span>
              
                </span>
            </md-card-header-text>
        </md-card-header>

        
        <md-image-loader ng-if="item.element.hasImg" md-img-src="item.element.milestone.image" md-aspect-ratio="{w: 300, h: 135}"></md-image-loader>
        <md-image-loader ng-if="item.element.milestone.type == 4" md-img-src="'../../../../../fonts/thumbs/podcast.jpg'" md-aspect-ratio="{w: 300, h: 135}"></md-image-loader>
        <md-image-loader ng-if="(item.element.milestone.type == 5) && !item.element.hasImg" md-img-src="'../../../../../fonts/thumbs/training.jpg'" md-aspect-ratio="{w: 300, h: 135}"></md-image-loader>


        <md-card-title flex="initial">
            <!--<md-card-title-text md-truncate>-->
              <span class="md-headline trim-on-second"  ng-bind="item.element.milestone.theme"></span>
            <!--</md-card-title-text>-->
        </md-card-title>


        <div class="card-content" flex>
            <div class="text ellipsis" ng-bind-html="item.element.milestone.postContent">

            </div>
        </div>

        <md-card-actions layout="row"  layout-align="end center">
            <md-thumbs-up ng-model="item.element.like" md-on-like="item.Ctrl.Like()" md-on-unlike="item.Ctrl.Unlike()"></md-thumbs-up>


            <md-loading-button type="submit" md-class="md-raised md-primary" md-busy="item.Ctrl.working" md-disabled="item.Ctrl.working" md-on-click="item.Ctrl.GoTo(item)">
                <md-message>
                    View
                </md-message>
                <md-loading-message>

                </md-loading-message>
            </md-loading-button>

        </md-card-actions>

</md-card>
</div>
